.input > span{
    display: inline-block;
    width: 150px;
}
.input>input{
    margin: 10px 0;
}
/* .input>input[type=button]{
    margin: 10px 20px;
    padding: 5px; */
/* } */
table,tr{
    border: 1px solid black;
}
table{
    width: 100%;
}
td,th{
    border-left: 1px solid black;
    border-right: 1px solid black;
}
tr>td:last-child{
    text-align: right;
}

@media print{
    .inputPlace{
        display: none;
    }
    .displayPlace{
        margin-top: 25px;
    }
}

